jest.config.js
postcss.config.js
src/__mocks__/*.js
next.config.js
next-i18next.config.js
jest.storyshots.config.js
src/generated/graphql.tsx
stories
scripts/*.js
public/scripts/ie.js
next-sitemap.js
out
!.storybook
node_modules
